---
name: docker

"on":
  push:
    branches:
      - master
    paths:
      - latest/*
      - .github/workflows/docker.yml
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 1

permissions:
  contents: write
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Detect version
        run: |
          VER=$(sed -ne "s/^.*GITLAB_RELEASE_VERSION=\(.*\)/\1/p;" latest/Dockerfile)
          echo IMAGE_TAG=${VER} >> ${GITHUB_ENV}
          echo "Building ${VER}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ghcr.io/${{ github.repository }}
          flavor: |
            latest=true
          tags: |
            type=raw,value=${{ env.IMAGE_TAG }}
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=ref,enable=true,event=branch
          labels: |
            org.opencontainers.image.vendor=Cloudpunks
            maintainer=Cloudpunks GmbH <ops@cloudpunks.de>

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Setup Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Ghcr login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: latest/
          file: latest/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

...
